<div class="navbar navbar-expand-sm navbar-light navbar-poke" style="padding-bottom: 0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "Pokemarket.jpeg" %>
    </a>
    <div class="container">
  <div class="row justify-content-center" style="margin-top: -45px;">
    <div class="col-sm-8 my-3">
  <div class="moving-gif">
      <%= image_tag "pikachu-pokemon.gif", width: 50 %>
    </div>
      <%= form_with url: cards_path, method: :get, class: "d-flex mt-5" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "ðŸ”"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  </div>




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

      <% if user_signed_in? %>
        <%= link_to "Upload", new_card_path, class: "btn btn-success me-2" %>
          <li class="nav-item dropdown">
            <%= image_tag "Maddie.jpeg", class: "Profile_rounded", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
         <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <button class="btn btn-login me-2" type="button"><strong>Login</strong></button>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to new_user_registration_path do %>
              <button class="btn btn-signin" type="button"><strong>SignUp</strong></button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
