<body class="bg-light">
  <div class="login text-center m-2">
    <% if logged_in? %>
      <h3>Hey, <strong><%= current_user.username %></strong> 🫡</h3>
      <p>Browse the latest cards available, from our top-notch vendors!</p>
    <% else %>
      <p>Welcome, Guest! Login to rent cards</p>
    <% end %>
  </div>
  <h2 class="text-center my-4"><strong>Pokemon Cards</strong></h2>
  <div class="container">
    <div class="row">
      <% @cards.each do |card| %>
        <div class="col-md-3 mb-4">
          <%= link_to card_path(card) do %>
            <div class="card h-100 bg-white">
              <div class="card-body">
                <div class ="img-fluid">
                <%= cl_image_tag card.photo.key, width: 400, crop: :fill, class:"index_images" %>
                </div>
                <div>
                  <h3 class="card-title text-center my-2"><strong><%= card.title %></strong></h3>
                  <p class="card-text"><strong>Details:</strong> <%= card.description %></p>
                  <p class="card-text"><strong>Price:</strong> <strong><%= card.ppd %>€</strong> per day</p>
                  <p class="card-text"><strong>Vendor:</strong> <%= card.user.username %></p>
            <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
