<body class="background">
  <div class="container mt-4">
    <div class="bg-white d-flex justify-content-between">
      <%= cl_image_tag @card.photo.key, width: 400, crop: :fill, class:"card_image" %>
        <div class="card-body pb-3 pr-3 bg-white" id="card-color">
          <h3 class="card-title my-2 pt-3"><strong><%= @card.title %></strong></h3>
          <p class="card-text"><strong>Price: </strong><strong><%= @card.ppd %>€</strong> per day</p>
          <p class="card-text"><strong>Vendor: </strong><u><%= @card.user.username %></u></p>
          <p class="card-text"><strong>Details:</strong> <%= @card.description %>
          <br>
          <br>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
          </p>
          <% if logged_in? %>
            <button class="btn btn-warning btn-outline-dark">Rent</button>
          <% else %>
            <%= link_to new_user_session_path do %>
              <button class="btn btn-login me-2" type="button"><strong>Login</strong></button>
            <% end %>
        <% end %>
        </div>
      </div>
   </div>

   <div class= "container">
     <div class="row">
       <h3 class="reviews my-2"><strong>Reviews</strong></h3>
         <% @reviews.each do |review| %>

            <div class="review-body">
              <p class="review-text"><strong>Rating:</strong> <%= "★" * review.rating %></p>
              <p class="review-text"><strong>Comment:</strong> <%= review.comment %></p>
            </div>

          <%end%>
        </div>
       <% if logged_in? %>
        <%= simple_form_for [@card, @review] do |f| %>
            <div class="mb-3">
              <%= f.input :rating, collection: [['★★★★★', 5], ['★★★★☆', 4], ['★★★☆☆', 3], ['★★☆☆☆', 2], ['★☆☆☆☆', 1]], label: 'Your Rating', input_html: { class: 'form-select' } %>
            </div>
            <div class="mb-3">
              <%= f.input :comment, as: :text, label: 'Your Comment', input_html: { class: 'form-control', rows: 3 } %>
            </div>
              <%= f.button :submit, 'Submit Review', class: 'btn btn-warning btn-outline-dark' %>
        <% end %>
      <% else %>
        <p class="text-center">Please <%= link_to 'login', new_user_session_path %> to leave a review</p>
      <% end %>
   </div>
</body>
